body {
  background-color: #1e1e1e;
  color: white;
}

#main-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;

  height: 98vh; /* todo */
}

#main-wrapper > div {
  display: flex;
  flex-flow: column;
  background-color: #2a2a2a;
  padding: 10px;
  gap: 5px;
}

#main-wrapper > div > .section-content {
  overflow-y: scroll;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.dynamic-list {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

#main-wrapper pre {
  white-space: pre-wrap;
}

#main-wrapper .section-title {
  /* TODO */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#session-info {
  grid-column: 7/9;
  grid-row: 1/2;
  
  /* background-color: green; */
}

#lobby-list {
  grid-column: 7/9;
  grid-row: 2/4;
}

#selected-lobby {
  grid-column: 7/9;
  grid-row: 4/7;
}

#server-messages {
  grid-column: 1/4;
  grid-row: 1/5;

  /* background-color: red; */
}

#selected-message {
  grid-column: 1/4;
  grid-row: 5/7;

  /* background-color: pink; */
}

#client-packet-types {
  grid-column: 4/7;
  grid-row: 1/4;

  /* background-color: aqua; */
}

#selected-packet-type {
  grid-column: 4/7;
  grid-row: 4/7;

  /* background-color: aquamarine; */
}
