#server-messages .message {
  background-color: #363636;
  padding: 5px;
  padding-top: 0;
  margin: 5px;
}

#server-messages .message.selected {
  background-color: #304060;
}

#server-messages .message-type {
  font-weight: bold;
  margin-bottom: 5px;
}
