#server-messages .message {
  background-color: #363636;
  margin: 5px 0;
  padding: 5px;
}

#server-messages .message.selected {
  background-color: #304060;
}

#server-messages .message-type {
  font-weight: bold;
}
