#session-info > .section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#user-id-value {
  font-family: 'Courier New', Courier, monospace;
  font-size: 70%;
}
